.status{
    display: flex;
    background-color: rgb(164, 53, 49);
}

.status div{
    text-align: center;
    width: 100%;
}

.status > div > span:hover{
    cursor: pointer;
}

table{
    
    width: 100%;
}
    

@media (width < 1080px){
    .container{
        margin-block: 5vh;
    }

    .status{
        padding-inline: 2vw;
        padding-block: 4vw;
    }

    table{
        display: none;
    }

    
}
@media (width >= 1080px){
    .container{
        margin-inline: 15vw;
        margin-block: 10vh;
    } 

    .status{
        border-radius: 25px;
        padding-block: 5px;
    }

    table{
        border-width: 1px;
        border-style: solid;
        margin-top: 3vw;
    }

    thead > tr > th:nth-child(1){
        width: 3vw;
    }
    thead > tr > th:nth-child(2){
        width: 10vw;
    }
    thead > tr > th:nth-child(3){
        text-align: start;
    }
    thead > tr > th:nth-child(4), 
    thead > tr > th:nth-child(5)
    {
        width: 5vw;
    }
    thead > tr > th:nth-child(6){
        width: 7vw;
    }
}

td{
    text-align: center;
}



.status{
    font-size: clamp(1rem, 3.5vw, 1.563rem);
}



