nav{
    display: flex;
    background-color: rgb(112, 189, 82);
    height: 50px;
    color: rgb(0, 0, 0);
    justify-content: space-between;
}

.container{
    display: flex;
}

/* Logo + Library text styling */
.container:first-of-type{
    padding-left: 1vw;
}

img{
    max-height: 50px;
}

.expandedmenu{
    margin: auto;
}

.searchbar{
    max-height: 35px;
}

.title{
    font-weight: 1000;
    font-size: 1.563rem;
    margin: auto;
}

.dropdownmenu_cont{
    position: relative;
}

.dropdownmenu{
    margin-block: 0;
    right: 0;
    top: 100%;
    width: 100vw;
    position: absolute;
    z-index: 100;
    background-color: rgb(14, 169, 125);
}

.dropdownmenu li{
    text-align: center;
    padding-block: 5vw;
    font-size: clamp(1rem, 4.5vw, 1.716rem);
}

.filter{
    margin: auto;
}

@media (min-width: 1080px){
    .dropdownmenu_cont, .filter{
        display: none;
    }
}